* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.header {
  font-size: 16px;
  padding: 20px;
  padding-left: 32px;
  font-size: 32px;
}

.sidebar {
  width: 20%;
  background-color: #21252B;
  color: #CCCCCC;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #CCCCCC;
  padding-left: 32px;
}

.sidebar a:hover {
  background-color: #2C313A;
}


.main-content {
  flex-grow: 1;
  background-color: #fff;
}